In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Namibe,AO,75.13,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
1,2,Rikitea,PF,74.03,moderate rain,-23.1203,-134.9692,People ThankYou
2,3,Isla Aguada,MX,75.38,broken clouds,18.7833,-91.4667,Freedom Shores
3,4,Mareeba,AU,88.66,scattered clouds,-17.0000,145.4333,Trinity Plains Tourist Park
4,5,Koumac,NC,86.77,few clouds,-20.5667,164.2833,Le Monitel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description </dt><dd>{Current Description}</dd><dt><dd> and <dd><dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Qui Nhon"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Qui Nhon"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Phitsanulok"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Phan Thiet"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Pathein"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat" , "Lng"]].to_numpy()
end = vacation_end[["Lat" , "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat" , "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat" , "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat" , "Lng"]].to_numpy()
len(start[0])

2

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
        start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]])
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,353,Qui Nhon,VN,72.54,broken clouds,13.7667,109.2333,KhÃ¡ch sáº¡n Háº£i Ãu Quy NhÆ¡n - Seagull Hotel
1,133,Phitsanulok,TH,70.39,overcast clouds,16.9167,100.5000,à¸à¹à¸²à¸à¹à¸à¸à¸´à¸à¸° à¸à¸´à¸©à¸à¸¸à¹à¸¥à¸
2,716,Phan Thiet,VN,82.98,scattered clouds,10.9333,108.1000,Hotel Saigon-PT
3,651,Pathein,MM,77.85,broken clouds,16.7833,94.7333,Pathein Hotel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description </dt><dd>{Current Description}</dd><dt><dd> and <dd><dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))